<div class="intro-header-find" style="margin-top: -50px;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">     
	<div class="shadow">
	  <% 2.times do%>
	    <%= tag(:br) %>
	  <% end %>
	  <h1>Cadastro</h1>
	</div>		
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= flash_message %>
    <%= form_for(@user) do |city| %>
      <%= city.label :name, "Nome" %>
      <%= city.text_field :name, :required => true%>

      <%= city.label :email, "Email" %>
      <%= city.email_field :email, :required => true %>

      <%= city.label :password, "Password" %>
      <%= city.password_field :password, :required => true %>

      <%= city.label :password_confirmation, "Confirmation" %>
      <%= city.password_field :password_confirmation, :required => true %>

      <%= city.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
