<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<div id="container" style=" width: 1000px; height: 400px; margin: 0 auto;"></div>

<table id="datatable" style="display: none;">
    <thead>
        <tr>
            <th></th>
            <th><%= @city1.name %></th>
            <th><%= @city2.name %></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th> êLugar </th>,
            <td><%= @city1.population/11967825.0 %></td> <!-- Division by poulation of the most populated city -->
            <td><%= @city2.population/11967825.0 %></td>
        </tr>

        <tr>
            <th> Transporte </th>
            <td><%= @city1.fleet/@top['fleet'].first.fleet %></td>
            <td><%= @city2.fleet/@top['fleet'].first.fleet %></td>
        </tr>
        <tr>
            <th>IDH</th>
            <td><%= @city1.idh %></td>
            <td><%= @city2.idh %></td>
        </tr>
        <tr>
            <th>Gini</th>
            <td><%= @city1.gini %></td>
            <td><%= @city2.gini %></td>
        </tr>
        <tr>
            <th>(Densidade/Estabelecimentos de saúde)</th>
            <td><%= @city1.health/@top['health'].first.health %></td>
            <td><%= @city2.health/@top['health'].first.health %></td>
        </tr>
        <tr>
            <th>(Quantidade de homicídios)</th>
            <td><%= @city1.violence/88.8 %></td> <!-- Division by the index of the most violent city -->
            <td><%= @city2.violence/88.8 %></td>
        </tr>
    </tbody>
</table>


<script>

  $(function () {
    var name1 = [<%= raw @city1.name.to_json %>];
    var name2 = [<%= raw @city2.name.to_json %>];
    $('#container').highcharts({
        data: {
            table: 'datatable'
        },
        chart: {
          backgroundColor: '#E7EDDD',
          type: 'column'
        },
        title: {
            text: 'Grafico de Comparação',
        },

         xAxis: {
            categories: ['População', 'Transporte' ,'IDH', 'Gini', 'Índice de Saúde', 'Índice de Violência']
        },

        yAxis: {
            allowDecimals: true,
            title: {
                text: '@êLugar'
            }
        },
        tooltip: {
            formatter: function () {
                return '<b>' + this.series.name + '</b><br/>';
            }
        }
    });
});
</script>
<br>
<%= link_to "Voltar", compare_path(:id => @oldID), :class => "btn btn-default" %>
<%= link_to "Relatório de Comparação", articles_path(format: :pdf,:city1 => @city1.id, :city2 => @city2.id), target: "_blank", :class => "btn btn-default"%>
