<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="sortcut icon" href="../assets/eLugarLogo.ico" type="image/x-icon" />
    <title>êLugar</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../assets/stylesheets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../../assets/stylesheets/landing-page.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>  
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="/"><img src="../assets/eLugarLogo.ico" class="logo" ></a>
            </div>
            <!-- Collect the nav links, forms, and other content     for toggling -->
            <div class="collapse navbar-collapse white" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right ">
                    <li>
                        <a href="/about">Sobre</a>
                    </li>
                    <li>
                        <a href="/references">Referências</a>
                    </li>
                    <li>
                        <a href="/contact">Contato</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>  

<div class ="intro-header-compare"> 
        </br>
        </br>
        </br>
        <% if @city1 && @city2 %>
            <div style="width: 100%">
             <div style="float: left; width: 50%;">
                <h2><%=@city1.name %></h2>
             </div>
             <div style="float: left; width: 50%;">
                <h2><%=@city2.name %></h2>
             </div>
             <br style="clear: left;" />
            </div>
            <center>
                <% @city1.attributes.each do |attr_name, attr_value| %>
                    <% if (attr_name == 'id' || attr_name == 'name' || attr_name == 'image' || attr_name == 'created_at' || attr_name == 'updated_at' || attr_name == 'uber')%>
                    <% next %>
                <% end %>
                <%= "#{@hash[attr_name]}" %>
                <div class="progress" style="width: 1000px;">
                    <div class="progress-bar progress-bar-danger" style="width: <%= get_average(@city1, @city2, attr_name)%>%;">
                        <%= attr_value%>
                    </div>
                    <div class="progress-bar progress-bar-success" style="width: <%=100- get_average(@city1, @city2, attr_name) %>%">
                        <%= @city2.send(attr_name.to_sym) %>
                    </div>
                </div>
                <% end %>
                <%= link_to "Voltar", compare_path(:id => @oldID) %>
            </center>
        <% elsif @city1 %>
            <div style="width: 50%;height: 300px;float: left;">
            <center style="margin-top: 300px;">
                <h1>
                <%=@city1.name%>
                </h1>
                <hr class="intro-divider">

            </center>
            </div>
            <div style="float: right;width: 50%;height: 50%;"> 
            	
                <h1>Escolha mais uma cidade!</h1><br>
                <ul style="margin-left: 90px; margin-right: 120px;">
                <%= form_tag(compare_path(:id => @oldID)) do %>
                                            <div class="input-group">
                                                <%= text_field_tag :find, nil, placeholder: 'Digite o nome da cidade...', size: '10', class: 'form-control' %>

                                                <span class="input-group-btn">
                                                <%= button_tag(type: "submit", class: "btn btn-default") do %>
                                                     <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                                <% end %>
                                                </span>
                                            </div>
                                            <br>
                                            <div class="input-group">
                                                <span class="input-group-addon">Ordenar por:</span>
                                                <%= select_tag :sort_cities, options_for_select(['População Estimada 2015','Densidade Demográfica','Tamanho da Cidade','Transporte','IDH','Índice de Gini','Índice de Saúde','Índice de Violência']), prompt: "Ordem alfabética" , class: "form-control"%>
                                                <span class="input-group-btn">
                                                <a href="#" id="show_filter_form" class = "btn btn-default">+</a>
                                                </span>
                                            </div>
                                            <div id="filter_form">
                                            <br>
                                                <div class="panel panel-default">
                                                    <div class="panel-heading"><left>Filtragem</left></div>
                                                    <div class="panel-body">
                                                        <% City.columns.each do |attr| %>
                                                            <% if (attr.name == 'id' || attr.name == 'uber' || attr.name == 'image' || attr.name == 'created_at' || attr.name == 'updated_at' || attr.name == 'name')%>
                                                                <% next%>
                                                            <%end%>
                                                            <%= "#{@hash[attr.name]} :"%><br>
                                                            De: <%= text_field_tag :"from_#{attr.name}", nil, size:'8'%>&nbsp;&nbsp;
                                                        Até: <%= text_field_tag :"to_#{attr.name}", nil, size:'8'%>
                                                            <hr>
                                                        <%end%>
                                                    </div>
                                                </div>
                                            </div>
                                        <% end %>
                                        </ul>
                        <br>
                        <ul style="margin-left: 90px;">
                        		<table>
                                <% cont = 0 %>
                                <% @cities.each do |f| %>
                                    <% if cont<3 %>
                                        <td style="width: 100px;">
                                            <%=link_to compare_path(:id => @oldID, :newID => f), :class=>'opacityit' do%>
                                                <img class=" img-responsive img-rounded"src= <%="/assets/#{f.image}.jpg"%> heigth="100" width="100">
                                            <% end %>
                                             <%=f.name%>
                                            </td>

                                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                    <% else %>
                                        <tr>
                                        </tr>
                                        <td style="width: 100px;">
                                            <%=link_to compare_path(:id => @oldID, :newID => f), :class=>'opacityit' do%>
                                                <img class=" img-responsive img-rounded"src= <%="/assets/#{f.image}.jpg"%> heigth="100" width="100">
                                            <% end %>
                                             <%=f.name%>
                                            </td>
                                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                        <%cont = 0%>
                                    <% end %>
                                    <% cont = cont+1 %>
                                <% end %>
                                </ul>   
                                </table>

                       
            </div>
            
            <!-- <div style="width: 600px;">
            <h1 style="text-align: left">
                <%= @city1.name %>
            </h1>
            </div>

            <div style="width: 83%;margin-left: 200px;margin-top: -70px;height: 500px;">
                <div style="display: table-row">
                    <div style="width: 600px;padding: -100px;display: table-cell;">
                        
                    </div>
                    <div style="display: table-cell;width: 50%;height: 50%;">
                        <h1>Cidades</h1>
                        reutu
	                       

                        <table>
                                <% cont = 0 %>
                                <% @cities.each do |f| %>
                                    <% if cont<5 %>
                                        <td><%= link_to f.name, compare_path(:id => @oldID, :newID => f) %></td>
                                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                    <% else %>
                                        <tr>
                                        </tr>
                                        <td><%= link_to f.name, compare_path(:id => @oldID, :newID => f) %></td>
                                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                        <%cont = 0%>
                                    <% end %>
                                    <% cont = cont+1 %>
                                <% end %>   
                        </table>
                    </div>
                </div>  
            </div>
            <center>
                <%= link_to "Voltar", show_path(:id => @oldID) %>
            </center>    -->
        <% end %>
<script>
        var count = 0;
            $("#show_filter_form").click(function(){
                $("#filter_form").toggle("slow");
                if(count == 0){
                    $("#show_filter_form").text("-");
                    count = 1;
                }else{
                    $("#show_filter_form").text("+");
                    count = 0;
                }
            });
    </script>

</div>
<!--    <footer style="background-color: #D0B4AE">
        <div>
        </div>
    </footer> -->
</body>