<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="sortcut icon" href="../assets/eLugarLogo.ico" type="image/x-icon" />
    <title>êLugar</title>

    <link href="../../assets/stylesheets/css/bootstrap.min.css" rel="stylesheet">

    <link href="../../assets/stylesheets/landing-page.css" rel="stylesheet">

    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
</head>

<body>

  <%=render 'layouts/navbar' %>
  <div class ="intro-header-compare">
          </br>
          </br>
          </br>
          <% if @city1 && @city2 %>
              <%= render 'cities/compare1'%>
          <% elsif @city1 %>
              <%=render 'cities/compare2'%>
          <% end %>

	</div>

  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/data.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>

  <div id="container" style=" width: 1000px; height: 400px; margin: 0 auto"></div>

  <table id="datatable">
      <thead>
          <tr>
              <th></th>
              <th><%= @city1.name %></th>
              <th><%= @city2.name %></th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <th>mi</th>
              <td><%= @city1.population/1000000.0 %></td>
              <td><%= @city2.population/1000000.0 %></td>
          </tr>
          <tr>
              <th>mil km²</th>
              <td>15.956</td>
              <td>11.423</td>
          </tr>
          <tr>
              <th>centenas (Habitantes/Quantidade de onibus)</th>
              <td><%= @city1.fleet/100 %></td>
              <td><%= @city2.fleet/100 %></td>
          </tr>
          <tr>
              <th>IDH</th>
              <td><%= @city1.idh %></td>
              <td><%= @city2.idh %></td>
          </tr>
          <tr>
              <th>Gini</th>
              <td><%= @city1.gini %></td>
              <td><%= @city2.gini %></td>
          </tr>
          <tr>
              <th>(Densidade/Estabelecimentos de saúde)</th>
              <td><%= @city1.health %></td>
              <td><%= @city2.health %></td>
          </tr>
          <tr>
              <th>(Quantidade de homicídios)</th>
              <td><%= @city1.violence %></td>
              <td><%= @city2.violence %></td>
          </tr>
      </tbody>
  </table>


  <script>

    $(function () {
      var name1 = [<%= raw @city1.name.to_json %>];
      var name2 = [<%= raw @city2.name.to_json %>];
      $('#container').highcharts({
          data: {
              table: 'datatable'
          },
          chart: {
            backgroundColor: '#E7EDDD',
            type: 'column'
          },
          title: {
              text: name1+' x '+name2,
          },

           xAxis: {
            	categories: ['População', 'Tamanho da Cidade', 'Transporte','IDH', 'Gini', 'Índice de Saúde', 'Índice de Violência']
          },

          yAxis: {
              allowDecimals: true,
              title: {
                  text: 'êLugar'
              }
          },
          tooltip: {
              formatter: function () {
                  return '<b>' + this.series.name + '</b><br/>' +
                      this.point.y + ' ' + this.point.name;
              }
          }
      });
  });
  </script>
