<div style="align: center"> 
	<%= form_tag(cities_show_path, :method => :get) do %>
		<h1 style="float: left">
			<%=@city1.name%>
		</h1>
		<% if @city2 %>
			<h1 style="float: right">
				<%=@city2.name%>
			</h1>
		<% end %>
		</br>
		</br>
		</br>
		<% if @city1 && @city2 %>		
			<center>
				<% @city1.attributes.each do |attr_name, attr_value| %>
					<% if (attr_name == 'id' || attr_name == 'name' || attr_name == 'image' || attr_name == 'created_at' || attr_name == 'updated_at' || attr_name == 'uber')%>
					<% next %>
				<% end %>
				<%= "#{attr_name} #{attr_value}/#{@city2.send(attr_name.to_sym)}" %>
	    		<div class="progress" style="width: 1000px;">
	    			<%if(attr_value > @city2.send(attr_name.to_sym))%>
			    		<div class="progress-bar progress-bar-success" style="width: <%= attr_value*100/(attr_value +@city2.send(attr_name.to_sym))%>%;"></div>
			    		<div class="progress-bar progress-bar-danger" style="width: <%= @city2.send(attr_name.to_sym)*100/(attr_value +@city2.send(attr_name.to_sym))%>%"></div>
			    	<% else %>
			    		<div class="progress-bar progress-bar-danger" style="width: <%= attr_value*100/(attr_value +@city2.send(attr_name.to_sym))%>%;"></div>
			    		<div class="progress-bar progress-bar-success" style="width: <%= @city2.send(attr_name.to_sym)*100/(attr_value +@city2.send(attr_name.to_sym))%>%"></div>
			    	<% end %>
	    		</div>
    			<% end %>
    			<%= link_to "Voltar", compare_path(:id => @oldID)%>		
			</center>
    	<% else%>
    		<div style="width: 100%; display: table;">
    			<div style="display: table-row">
		    		<div style="width: 600px; display: table-cell;">
			    		<% @city1.attributes.each do |attr_name, attr_value| %>
			    			<% if (attr_name == 'id' || attr_name == 'name' || attr_name == 'image' || attr_name == 'created_at' || attr_name == 'updated_at')%>
			    				<% next %>
			    			<% end %>
			    			<table>
				    			<tr>
					    			<td>
					    				<%= attr_name + " : " + attr_value.to_s %>
					    			</td>
					    		</tr>
				    		</table>
			    		<% end %>
			    	</div>
		    		<div style="display: table-cell;">
				    	<h1>Cidades</h1>
				    	
				    	<%= form_tag(compare_path, :method => :get) do %>
	    					<%= text_field_tag 'find', nil, placeholder: 'Digite o nome da cidade...'%>
	    					<%= select_tag :order, options_for_select(['Populacao','Densidade','Area','Frota','IDH','Gini',
	    					   'Saude']),{include_blank: true}%>
	    					<%= link_to "Pesquisar",compare_path(:id => @oldID,:find => @cities),class: "btn btn-default btn-sm"%>
	    				<% end %>

				    	<table>
				    			<%cont = 0%>
				    			<%@cities.each do |f| %>
				    				<%if cont<5 %>
				    					<td><%= link_to f.name, compare_path(:id => @oldID, :newID => f) %></td>
				    					<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
				    				<%else%>
										<tr>
										</tr>
										<td><%= link_to f.name, compare_path(:id => @oldID, :newID => f) %></td>
										<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
										<%cont = 0%>
				    				<%end%>
				    				<%cont=cont+1%>
				    			<%end%>	
				    	</table>
				    </div>
				</div> 	
			</div>	
		<% end %>
	<% end %>
</div>