<div style="width: 100%; overflow: hidden;">
    <div style="width: 600px; float: left;"> 
    	<%= form_tag(cities_show_path, :method => :get) do %>
    		<h1>
    			<%=@city1.name%>
    		</h1>

    		<table>
    			<tr>
    				<td>
    					População Estimada 2015: <%=@city1.population%>
    				</td>
    			</tr>
    			<tr>
    				<td>
    					Densidade Demográfica: <%=@city1.demographic_density%>
    				</td>
    			</tr>			
    			<tr>
    				<td>
    					Tamanho da cidade: <%=@city1.area%>
    				</td>	
    			</tr>		
    			<tr>
    				<td>
    					Transporte: <%=@city1.fleet%>
    				</td>
    			</tr>	
    			<tr>
    				<td>
    					Índice de Desenvolvimento Humano: <%=@city1.idh%>	
    				</td>			
    			</tr>	
    			<tr>
    				<td>
    					Índice de Gini: <%=@city1.gini%>	
    				</td>
    			</tr>	
    			<tr>
    				<td>
    					Saúde: <%=@city1.health%>	
    				</td>
    			</tr>	
    			<tr>
    				<td>
    					Homicídios por arma de fogo: <%=@city1.violence%>
    				</td>
    			</tr>	
    			<tr>
    				<td>
    					Possui cobertura do Uber?: <%=@city1.uber%>
    				</td>
    			</tr>			
    		</table>
    	<% end %>
    </div>
    <div style="margin-left: 620px;">
    	<% if(not params[:newID])%>
	    	<h1>Cidades</h1>
	    	
	    	<%= form_tag(find_path, :method => :get) do %>
	    		<%= text_field_tag 'find', nil, placeholder: 'Digite o nome da cidade...'%>
	    		<%= submit_tag "Pesquisar" %>
	    	<% end %>

	    	<table>
	    			<%cont = 0%>
	    			<%@cities.each do |f| %>
	    				<%if cont<5 %>
	    					<td><%= link_to f.name, compare_path(:id => @oldID, :newID => f) %></td>
	    					<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
	    				<%else%>
							<tr>
							</tr>
							<td><%= link_to f.name, city_path(f) %> </td>
							<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<%cont = 0%>
	    				<%end%>
	    				<%cont=cont+1%>
	    			<%end%>	
	    	</table>  
		<% else %>
			<%= form_tag(cities_show_path, :method => :get) do %>
				<h1>
					<%=@city2.name%>
				</h1>

				<table>
					<tr>
						<td>
							População Estimada 2015: <%=@city2.population%>
						</td>
					</tr>
					<tr>
						<td>
							Densidade Demográfica: <%=@city2.demographic_density%>
						</td>
					</tr>			
					<tr>
						<td>
							Tamanho da cidade: <%=@city2.area%>
						</td>	
					</tr>		
					<tr>
						<td>
							Transporte: <%=@city2.fleet%>
						</td>
					</tr>	
					<tr>
						<td>
							Índice de Desenvolvimento Humano: <%=@city2.idh%>	
						</td>			
					</tr>	
					<tr>
						<td>
							Índice de Gini: <%=@city2.gini%>	
						</td>
					</tr>	
					<tr>
						<td>
							Saúde: <%=@city2.health%>	
						</td>
					</tr>	
					<tr>
						<td>
							Homicídios por arma de fogo: <%=@city2.violence%>
						</td>
					</tr>	
					<tr>
						<td>
							Possui cobertura do Uber?: <%=@city2.uber%>
						</td>
					</tr>			
				</table>
			<% end %>
		<% end %>
	</div>
</div>