<div style="float: center"> 
	<%= form_tag(cities_show_path, :method => :get) do %>
		<h1 style="float: left">
			<%=@city1.name%>
		</h1>
		<% if @city2 %>
			<h1 style="float: right">
				<%=@city2.name%>
			</h1>
		<% end %>
		<br>
		</br>
		<center>
			<% if @city1 && @city2 %>
				<% @city1.attributes.each do |attr_name, attr_value| %>
					<% if (attr_name == 'id' || attr_name == 'name' || attr_name == 'image' || attr_name == 'created_at' || attr_name == 'updated_at' || attr_name == 'uber')%>
						<% next %>
					<% end %>
					<%= attr_name %>
	    			<div class="progress" style="width: 1000px;">
	    			  <div class="progress-bar progress-bar-success" style="width: <%= attr_value %>%;">
	    			  </div>
	    			  <div class="progress-bar progress-bar-danger" style="width: <%= 100-@population %>%">
	    			  </div>
	    			</div>
	    		<% end %>
			<% end %>
		</center>
	<% end %>
</div>