<center>
	<h1>Cidades</h1>
	
	<%= form_tag(find_path, :method => :get) do %>
		<%= text_field_tag 'find', nil, placeholder: 'Digite o nome da cidade...', size: '60'%>
		&nbsp;Ordenar por:
		<%= select_tag :order, options_for_select(['Populacao','Densidade','Area','Frota','IDH','Gini','Saude']),			{include_blank: true}%>
		<%= submit_tag "Pesquisar" %>
	<% end %>

	<table>
			<%cont = 0%>
			<%@cities.each do |f| %>
					<%if cont<5 %>
						<td><%= link_to f.name, city_path(f) %></td>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<%else%>
						<tr>
						</tr>
							<td><%= link_to f.name, city_path(f) %> </td>
							<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
						<%cont = 0%>
					<%end%>
				<%cont=cont+1%>
			<%end%>	
	</table>
</center>