<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="sortcut icon" href="../assets/eLugarLogo.ico" type="image/x-icon" />
    <title>êLugar</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../assets/stylesheets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../../assets/stylesheets/landing-page.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <script src="https://www.facebook.com/assets.php/pt_BR/sdk.js" async></script>

</head>
<body>

  <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.6";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="/"><img src="../assets/eLugarLogo.ico" class="logo" ></a>
            </div>
            <!-- Collect the nav links, forms, and other content     for toggling -->
            <div class="collapse navbar-collapse white" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/about">Sobre</a>
                    </li>
                    <li>
                        <a href="/references">Referências</a>
                    </li>
                    <li>
                        <a href="/contact">Contato</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header-show">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message-show black">
                        <h2>Análise da Cidade</h2>
                        <hr class="intro-divider">
                        <div class="list-inline intro-social-buttons black">
                            <ul class="cardboard">
                                <%= form_tag(cities_show_path, :method => :get) do %>
                                    <h1>
                                        <%=@city.name%>
                                    </h1>
                                    <% @city.attributes.each do |attr_name, attr_value| %>
                                        <% if (attr_name == 'id' || attr_name == 'name' || attr_name == 'image' || attr_name == 'created_at' || attr_name == 'updated_at')%>
                                            <% next %>
                                        <% end %>
                                        <li class="cardboard">
                                            <div class="flip-container">
                                                <div class="flipper">
                                                    <div class="front">
                                                        <br><br><br><br><br>
                                                        <p><%=@hash[attr_name]%></p>
                                                        <center>
                                                            <%if(attr_name == 'population' || attr_name == 'area')%>
                                                            <%else%>
                                                                <img class="img-responsive foto" style="border: none;" src=<%="/assets/emot#{get_emoji(attr_name, attr_value)}.png"%>> </img>
                                                            <%end%>
                                                        </center>
                                                    </div>
                                                    <div class="back">
                                                        <br><br><br>
                                                        <p><%=@hashText[attr_name]%></p>
                                                        <p><%=@hashValue[attr_name]%></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    <% end %>
                                <% end %>
                            </ul>
                        </div>
                        <div>
                         <%= link_to "Voltar", find_path(:id => nil), :class => "btn btn-default" %>&nbsp;&nbsp;
                         <%= link_to "Compare", compare_path(:id => @oldID), :class => "btn btn-primary" %>
                           <%= form_tag(cities_show_path, :method => :get) do %>
                             <center>
                                <br><br><br><div class="fb-like" data-href ="/cities/<%=@city.id%>" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
                             </center>
                           <%end%>
                       </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
        <!-- Footer -->
    <footer style="background-color: #D0B4AE">
    </footer>

</body>
