<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="sortcut icon" href="../assets/eLugarLogo.ico" type="image/x-icon" />
    <title>êLugar</title>

    <!-- Bootstrap Core CSS -->

    <%=stylesheet_link_tag "/assets/bootstrap.min.css"%>
    <!-- Custom CSS -->
    <%=stylesheet_link_tag "/assets/landing-page.css"%>


    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <script src="https://www.facebook.com/assets.php/pt_BR/sdk.js" async></script>

</head>
<body>

  <div id="fb-root"></div>
  <%=render 'cities/script_face'%>
  <%=render 'layouts/navbar'%>
  
    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header-show">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message-show black">
                        <h2>Análise da Cidade</h2>
                        <hr class="intro-divider">
                        <div class="list-inline intro-social-buttons black">
                            <ul class="cardboard">
                                <%= form_tag(cities_show_path, :method => :get) do %>
                                    <h1>
                                        <%=@city.name%>
                                    </h1>
                                    <% @city.attributes.each do |attr_name, attr_value| %>
                                        <% if (attr_name == 'id' || attr_name == 'name' || attr_name == 'image' || attr_name == 'created_at' || attr_name == 'updated_at')%>
                                            <% next %>
                                        <% end %>
                                        <li class="cardboard">
                                            <div class="flip-container">
                                                <div class="flipper">
                                                    <div class="front">
                                                        <br><br><br><br><br>
                                                        <p><%=@hash[attr_name]%></p>
                                                        <center>
                                                            <%#if(attr_name == 'population' || attr_name == 'area')%>
                                                            <%# else %>
                                                                <img class="img-responsive foto" style="border: none;" src=<%="/assets/emot#{get_emoji(attr_name, attr_value)}.png"%>> 
                                                                </img>
                							<%# end %>
                							<% if attr_name != 'population' && attr_name != 'demographic_density' && attr_name != 'uber' && attr_name != 'area' %>
                										<% case @top[attr_name].index(@city) %>
                											<% when 0 %>
                												<img class="img-responsive foto" src="/assets/gold_medal.png">
                											<% when 1 %>
                												<img class="img-responsive foto" src="/assets/silver_medal.png">
                											<% when 2 %>
                												<img class="img-responsive foto" src="/assets/bronze_medal.png">
                										<% end %>
                									<% end %>
                                                        </center>
                                                    </div>
                                                    <div class="back">
                                                        <br><br><br>
                                                        <p><%=@hashText[attr_name]%></p>
                                                        <p><%=@hashValue[attr_name]%></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    <% end %>
                                <% end %>
                            </ul>
                        </div>
                        <div>
                         <%= link_to "Voltar", find_path(:id => nil), :class => "btn btn-default" %>&nbsp;&nbsp;
                         <%= link_to "Compare", compare_path(:id => @oldID), :class => "btn btn-primary" %>
                           <%= form_tag(cities_show_path, :method => :get) do %>
                             <center>
                                <br><br><br><div class="fb-like" data-href ="/cities/<%=@city.id%>" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
                             </center>
                           <%end%>
                       </div>

                        <h2>Comentários</h2>
                        <% @city.comments.each_slice(2) do |f| %>
                            <%= render f[0]%>
                        <% end %>

                        <h2>Adicionar um comentário:</h2>
                        <%= render 'comments/form' %>

                        <%= link_to 'Top', city_path %>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
</body>
